
@{
    ViewData["Title"] = "Analysis";
}

<div class="text-left">
    <h1> Analysis of the Boroughs</h1>
</div>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
    <title>Assignment - 3</title>
    <style>
    </style>
</head>

<body>


    <!--<div class="topnav">
        <a class="active" href="Index.cshtml">Accidents And Crashes</a>
        <a href="Crashstats.cshtml">Monroe county crash Data Description</a>
        <a href="Visualize.cshtml">Visualising DATA</a>
        <a href="Aboutus.cshtml">About our Team</a>
    </div>
    <!-- Slideshow container -->
    <div class="slideshow-container">
        <!--
        <div class="indeximage">
           <img src="images/index.jpg">
         </div>
        -->
        <br>

        <img src="~/images/boroughs.jpg" style="width:30%">
        <h2>Which Boroughs Are the Most Dangerous for Car Accidents?</h2>
        <p>
            Looking at the statistics for March of 2019 alone, you can see that some boroughs are significantly more dangerous than others. But which are the most dangerous?

            <ul>
                <li> Highest Annual Death Rate: Brooklyn (94)</li>
                <li>Highest Death Rate in March 2019: Manhattan (4) and the Bronx (4)</li>
                <li>Highest Annual Injury Rate: Queens (15,000+)</li>
                <li>Highest Injury Rate in March 2019: Brooklyn (5,543)</li>
                <li>Highest Number of Cyclists Injured: Brooklyn (78)</li>
                <li>Highest Number of Pedestrians Injured: Brooklyn (322)</li>
            </ul>

            As you can see, Brooklyn sits at the top of several of the most dangerous categories. Brooklyn tops the list in the highest annual death rate. It also tops the lists for March 2019 in the highest injury rate, the number of cyclists injured, and the number of pedestrians injured.


        </p>

        <h2>What Caused NYC Car Accidents?</h2>
        <p>
            Most car accidents in New York City were caused by distracted driving. In fact, more than a quarter of them were. According to the recent statistics, the top ten leading causes of accidents in NYC were:
            <ul>
                <li>Distracted driving</li>
                <li> Failure to yield the right-of-way</li>
                <li> Fatigue</li>
                <li>  Other/unknown causes</li>
                <li>   Backing up improperly/unsafely</li>
                <li>  Loss of driver consciousness</li>
                <li>   Improper turning or failure to use the turning signal</li>
                <li>   Prescription medications</li>
                <li>   Driver inexperience/new drivers</li>
                <li>  Slippery pavement or poor road conditions</li>
            </ul>
            As you can see, most of the common causes of an NYC auto accident can be avoided. Paying proper attention while driving could cause a significant drop in NYC car accident statistics.
        </p>

        <h2>The 20 Most Dangerous Intersections in NYC</h2>
        <p>
            You can further define the statistics based on where the accidents happened. These statistics show that the following are the most dangerous intersections for having an NYC car accident:
            <ul>
                <li> Flatbush Avenue and Grand Army Plaza (Brooklyn) – 14 reported</li>
                <li>Flatbush Avenue Extension and Tillary Street (Brooklyn) – 13 reported</li>
                <li>East 96th Street and Madison Avenue (Manhattan) – 12 reported</li>
                <li>8th Avenue and West 42nd Street (Manhattan) – 12 reported</li>
                <li>2nd Avenue and East 36th Street (Manhattan) – 12 reported</li>
                <li>Farmers Boulevard and Rockaway Boulevard (Queens) – 12 </li>
                <li>9th Avenue and West 42nd Street (Manhattan) – 11 reported</li>
                <li>3rd Avenue and East 59th Street (Manhattan) – 11 reported</li>
                <li>Linden Boulevard and Pennsylvania Avenue (Brooklyn) – 11 reported</li>
                <li>Brookville Boulevard and Rockaway Boulevard (Queens) – 10 reported</li>
                <li>Bruckner Boulevard and Hunts Point Avenue (Bronx) – 10 reported</li>
                <li>Buckner Boulevard and East 138th Street (Bronx) – 9 reported</li>
                <li>20th Avenue and Whitestone Expressway (Queens) – 9 reported</li>
                <li>Atlantic Avenue and Pennsylvania Avenue (Brooklyn) – 9 reported</li>
                <li>Richmond Avenue and Victory Boulevard (Staten Island) – 9 reported</li>
                <li>East 233rd Street and White Plains Road (Bronx) – 8 reported</li>
                <li>3rd Avenue and Hamilton Avenue (Brooklyn) – 8 reported</li>
                <li>Eastchester Road and Waters Place (Bronx) – 7 reported</li>
                <li>Bainbridge Avenue and East Gun Hill (Bronx) – 7 reported</li>
                <li>Horace Harding Expressway and Main Street (Queens) – 7 reported</li>
            </ul>
            Staten Island once again proves itself the safest place in terms of auto accidents. Of the 20 most dangerous intersections in New York City, only one of them is located in Staten Island.
        </p>


        <!--JS link-->
        <script src="~/js/main.js"></script>
    </div>
</body>

</html>